/* index */
body {
    background-color: rgba(139, 152, 161, 0.24);
}

/* App */
.message-containers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 50%));
    padding: 10px;
}

/* WebSocketConsole */
.sub-screen {
    border: 1px solid #ddd; /* Lighter border color */
    padding: 15px;
    margin: 15px;
    background-color: #f9f9f9; /* Lighter background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    font-family: 'Arial', sans-serif; /* Choose a suitable font family */
}

p {
    margin-bottom: 10px; /* Add some space between paragraphs */
}

.log-screen {
    max-height: 400px; /* Limit the height to make it more visually appealing */
    overflow: auto;
    font-size: 14px; /* Adjust font size for better readability */
}

.error-screen {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px; /* Increase font size for emphasis */
    color: #c0392b; /* Darker red color */
}

.incoming-log-div {
    margin-top: 15px;
}

.delay-div {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin-top: 0; /* Remove top margin for inline alignment with other buttons */
}

button {
    margin-right: 10px;
}

.incoming-log-screen {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 14px;
}

.incoming-log-buttons {
    margin-top: 10px;
    font-size: 14px;
}

.incoming-log-screen,
.log-screen {
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    font-family: 'Courier New', monospace; /* Use a monospaced font for better alignment */
    font-size: 14px;
    color: #333; /* Dark text color */
}

.json-message {
    padding: 10px;
    background-color: #f0f0f0; /* Light background color for JSON messages */
    border-radius: 5px;
    margin-top: 5px;
    overflow: auto;
}

.log-message {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 5px;
    overflow: auto;
}

/* Close connection button*/
.close-button {
    background-color: #c0392b; /* Red color */
    color: #fff; /* White text color */
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    float: right; /* Float the button to the right */
    margin: 5px;
}

/* EditableText*/
/* Style for spans with text content */
.editable-text-span {
    border: 1px solid #000;
}

/* Style for empty spans with padding */
.editable-text-span:empty {
    padding-left: 10px;
    padding-right: 10px;
}

/* Sync/Async connection switch */
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

.on
{
    display: none;
}

.on, .off
{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;}