# Ignore tools
/bin
cmd/mircat/mircat

# Ignore coverprofiles
*.coverprofile

# Ignore IDE config folders
.idea

# Ignore test artifacts
mir-deployment-test
failed-test-data

# Ignore sample artifacts
chat-demo-wal

# Ignore logs
*.log

# Ignore the protoc plugin binary
protoc-plugin/protoc-gen-mir

# Ignore backup files
*~
