# Ignore tools
/bin
cmd/mircat/mircat

# Ignore coverprofiles
*.coverprofile

# Ignore IDE config folders
.idea

# Ignore test artifacts
mir-deployment-test
failed-test-data

# Ignore sample artifacts
chat-demo-wal

# Ignore logs
*.log

# Ignore binaries with .bin and .exe extensions
*.bin
*.exe

# Ignore the protoc-plugin binary
codegen/protoc-plugin/protoc-gen-mir

# Ignore backup files
*~

# Ignore coverage prifile files.
coverage.out